/* eslint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* eslint-enable */

/* make app cover entire screen height */
html, body, #root, #root>div {
  height: 100%
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% {  transform: rotate(359deg); }
}

.spinner {
    animation: spin 2s linear infinite;
}

.h-gamearea {
  /* 
    The height of the game area. Basically the height of the screen minus the navbar height.
    There should be a better way to do this..
   */
  --navbar-height: 3.5rem;
  @apply h-[calc(100vh-var(--navbar-height))]
}
